<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome!</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories.js"></script>
    <script type="text/javascript" src="/assets/scripts/directives.js"></script>
</head>
<body ng-app="myApp">
    <div class="instructions" ng-controller="UserController">
        <div class="container">
            <h1 id="welcome" class="lead">Welcome, {{user.response.first_name}}! Are you feeling dangerous?</h1>
        </div>
        <nav class="nav nav-tabs">
          <li class="nav-item"><a href = "#user">Home</a></li>
          <li class="nav-item"><a href = "#toBeDone">Uncompleted Dares</a></li>
          <li class="nav-item"><a href = "#create">Create Dare</a></li>
          <li class="nav-item sign-out"><a href = "index.html">Sign Out</a></li>
        </nav>
        <!-- <nav class="nav nav-inline">
          <a href = "#user">Home</a>
          <a href = "#toBeDone">Uncompleted Dares</a>
          <a href = "#create">Create Dare</a>
        </nav> -->
    </div>
    <main ng-view>

    </main>
</body>
</html>
